.container_about .row{
    margin: 10px 20px;
    padding: 10px;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    background-color: #f3f3f3;
    box-shadow: 0 0 10px #e7e7e7;
}
.container_about .row ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 10px;
    padding: 10px;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    background-color: #f3f3f3;
    box-shadow: 0 0 10px #e7e7e7;
}
.container_about .row ul .content{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container_about .row ul h2{
    flex: 100%;
}
.container_about .row ul p{
    width: 50%;
    height: fit-content;
}
.container_about .row ul a{
    width: 30%;
    max-height: 60%;
}
.container_about .row ul img{
    width: auto;
    height: 100%;
    max-width: 100%;

    float: right;
}